*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(45deg,#c31432,#240b36);
    padding: 40px;
}

.container{
    max-width: 700px;
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    color: white;
}

.accordion-item{
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.accordion-header{
    width: 100%;
    background: none;
    border: none;
    font-size: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}

.icon{
    font-size: 22px;
    transition: 0.3s;
}

.accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.accordion-content p{
    padding-top: 10px;
    line-height: 1.6;
    color: #444;
}

.accordion-item.active .accordion-content{
    max-height: 200px;
}

.accordion-item.active .icon{
    transform: rotate(45deg);
}
